.home {
    margin: auto;
    width: 80%;
    padding: 10%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.home p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-style: normal;
}

